<a href="https://colab.research.google.com/github/Sa-kshi4897/Python/blob/main/Oops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Oops in Python**

**Class** :- Class is a template/blue-print for real-world entities.
         Class is a user defined data-type.

         Example :- Phone

 *Attributes/Properties* :- Color, Cost, Battery-life

  *Methods/Characteristics* :- Play Game, Make Call

**Objects** :- Objects are specified instance of a class.

         Example :- Apple, Motorola, Samsung

In [1]:
class Phone:                                                 #Creating the 'Phone' class
  def make_call(self):
    print("Making phone call")
  def play_game(self):
    print("Playing games")

In [2]:
p1=Phone()                                                   #Instantiating the 'p1' object

In [6]:
p1.make_call()                                               #Invoking methods through object
p1.play_game()

Making phone call
Playing games

Adding Parameters to the class

In [7]:
class Phone:                                              #setting and returning the attribute values
  def set_color(self,color):
    self.color=color
  def set_cost(self,cost):
    self.cost=cost
  def show_color(self):
    return self.color
  def show_cost(self):
    return self.cost
  def make_call(self):
    print("Making phone call")
  def play_game(self):
    print("Playing Game")

In [9]:
p2=Phone()

In [10]:
p2.set_color("blue")
p2.set_cost("10000")

In [12]:
p2.show_color()

'blue'

In [13]:
p2.show_cost()

'10000'

In [14]:
p2.make_call()

Making phone call

In [16]:
p2.play_game()

Playing Game

In [41]:
#creating a class with constructor

class Employee:
  def __init__(self,name,age,salary,gender):                      #init method act as the constructor
    self.name = name
    self.age = age
    self.salary = salary
    self.gender = gender

  def employee_details(self):
    print("Name of employee is ",self.name)
    print("Age of employee is ",self.age)
    print("Salary of the employee ",self.salary)
    print("Gender of the Employee ",self.gender)

In [42]:
e1 = Employee("Manoj Kumar", 49, 500000, 'Male')

In [43]:
e1.employee_details()

Name of employee is  Manoj Kumar
Age of employee is  49
Salary of the employee  500000
Gender of the Employee  Male

**Inheritance in Python**
        
With inheritance one class can drive the properties of another class.

ex :- Man inheriting features from his father.