<a href="https://colab.research.google.com/github/Sa-kshi4897/Python/blob/main/Oops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Oops in Python**

**Class** :- Class is a template/blue-print for real-world entities.
         Class is a user defined data-type.

         Example :- Phone

 *Attributes/Properties* :- Color, Cost, Battery-life

  *Methods/Characteristics* :- Play Game, Make Call

**Objects** :- Objects are specified instance of a class.

         Example :- Apple, Motorola, Samsung

In [41]:
class Phone:                                                 #Creating the 'Phone' class
  def make_call(self):
    print("Making phone call")
  def play_game(self):
    print("Playing games")

In [42]:
p1=Phone()                                                   #Instantiating the 'p1' object

In [43]:
p1.make_call()                                               #Invoking methods through object
p1.play_game()

Making phone call
Playing games

Adding Parameters to the class

In [44]:
class Phone:                                              #setting and returning the attribute values
  def set_color(self,color):
    self.color=color
  def set_cost(self,cost):
    self.cost=cost
  def show_color(self):
    return self.color
  def show_cost(self):
    return self.cost
  def make_call(self):
    print("Making phone call")
  def play_game(self):
    print("Playing Game")

In [45]:
p2=Phone()

In [46]:
p2.set_color("blue")
p2.set_cost("10000")

In [47]:
p2.show_color()

'blue'

In [48]:
p2.show_cost()

'10000'

In [49]:
p2.make_call()

Making phone call

In [50]:
p2.play_game()

Playing Game

In [51]:
#creating a class with constructor

class Employee:
  def __init__(self,name,age,salary,gender):                      #init method act as the constructor
    self.name = name
    self.age = age
    self.salary = salary
    self.gender = gender

  def employee_details(self):
    print("Name of employee is ",self.name)
    print("Age of employee is ",self.age)
    print("Salary of the employee ",self.salary)
    print("Gender of the Employee ",self.gender)

In [52]:
e1 = Employee("Manoj Kumar", 49, 500000, 'Male')

In [53]:
e1.employee_details()

Name of employee is  Manoj Kumar
Age of employee is  49
Salary of the employee  500000
Gender of the Employee  Male

**Inheritance in Python**
        
With inheritance one class can drive the properties of another class.

ex :- Man inheriting features from his father.

***Types of Inheritance***

**Single Inheritance**  :-  Where child class inherit properties from only one parent class.

**Mutiple Inheritance**  :-  Where child class inherit properties from more than one parent class.

**Multi-level Inheritance**  :-  Where we have parent, child, and grandchild relationship.

**Hybrid Inheritance**  :-  It is a combination of multiple inheritance and multi-level inheritance. The class is derived from the two classes as in the multiple inheritance. However, one of the parent classes is not the base class. It is a derived class.

In [54]:
#single inheritance
class Vehicle:                                         #creating base class
  def __init__(self,mileage,cost):
    self.mileage = mileage
    self.cost = cost
  def show_vehicle_details(self):
    print("I am a Vehicle")
    print("Mileage of Vehicle is ",self.mileage)
    print("Cost of Vehicle is ",self.cost)

In [55]:
v1=Vehicle(300,500)                                      #Instantiating the object for base class
v1.show_vehicle_details()

I am a Vehicle
Mileage of Vehicle is  300
Cost of Vehicle is  500

In [56]:
class Car(Vehicle):                                      #creating child class
  def show_car_details(self):
    print("I am a Car")

In [57]:
c1 = Car(400,300)                                       #Instantiating the object for child class
c1.show_vehicle_details()

I am a Vehicle
Mileage of Vehicle is  400
Cost of Vehicle is  300

In [58]:
c1.show_car_details()                                   #Invoking the child class method

I am a Car

In [59]:
class Car(Vehicle):
  def __init__(self,mileage,cost,tyres,hp):
    super().__init__(mileage,cost)
    self.tyres=tyres
    self.hp=hp
  def show_car_details(self):
    print('I am a car')
    print('Number of tyres ',self.tyres)
    print('The horse power is ',self.hp)

In [60]:
c1 = Car(30,1200,4,500)
c1.show_vehicle_details()

I am a Vehicle
Mileage of Vehicle is  30
Cost of Vehicle is  1200

In [61]:
c1.show_car_details()

I am a car
Number of tyres  4
The horse power is  500

In [62]:
#Multiple Inheritance in Python
class Parent1():                            #parent class one
  def assign_str1(self,str1):
    self.str1=str1
  def show_str1(self):
    return self.str1

class Parent2():                            #parent class two
  def assign_str2(self,str2):
    self.str2=str2
  def show_str2(self):
    return self.str2

class Child(Parent1,Parent2):               #child class 
  def assign_str3(self,str3):
    self.str3=str3
  def show_str3(self):
    return self.str3

In [63]:
c1 = Child()
c1.assign_str1("One")
c1.assign_str2("two")
c1.assign_str3("Three")

In [64]:
c1.show_str1()

'One'

In [65]:
c1.show_str2()

'two'

In [66]:
c1.show_str3()

'Three'